.create__form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 12px;
  background: #dddddd;
  position: fixed;
  bottom: 0;
  width: 80%;
  height: 15%;
  box-sizing: border-box;
}

.date__input {
  border: 1px solid rgba(24, 24, 29, 0.25);
  padding: 10px 12px;
  font-size: 16px;
}

.input__panel {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}