html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, 'SansSerif';
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 6px;
  box-sizing: border-box;
}

tr:nth-child(even) {
  background-color: rgba(24, 24, 29, 0.07);
}

tr {
  transition: 0.3s ease-out;
}

tbody tr:hover {
  background: rgba(144, 144, 149, 0.43);
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
}

input[type='date'] {
  font-size: 16px;
  outline: 0;
  font-family: sans-serif, 'SansSerif';
}

input[type='date']:focus {
  border: 1px solid #2684ff;
}
