.sidebar__item {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 32px;
  cursor: pointer;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.sidebar__item:hover {
  background: rgba(240, 248, 255, 0.17);
}
