.delete__button {
  display: flex;
  border: 0;
  padding: 6px;
  border-radius: 6px;
  background: rgba(229, 69, 27, 0.85);
  cursor: pointer;
}

.delete__button:hover {
  opacity: 0.7;
}

.filter__panel {
  display: flex;
  padding: 12px;
}

.table__container {
  display: flex;
  gap: 14px;
  flex-direction: column;
}
