.delete__button {
  display: flex;
  border: 0;
  padding: 6px;
  border-radius: 6px;
  background: rgba(229, 69, 27, 0.85);
  cursor: pointer;
  width: 32px;
  align-items: center;
}

.delete__button:hover {
  opacity: 0.7;
}

.filter__panel {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 10px;
}

.table__container {
  display: flex;
  gap: 12px;
  padding: 12px;
  flex-direction: column;
}

.edit__button {
  background: rgba(24, 24, 29, 0.14);
  border-radius: 6px;
  display: flex;
  border: 0;
  padding: 6px;
  cursor: pointer;
  width: 32px;
}

.action__cell {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.table__container a {
  color: #1750cb;
  transition: 0.3s;
}

.table__container a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
